<head>
    <link rel="stylesheet" href="assets/css/bulma/css/bulma.css">
    <link rel="stylesheet" href="assets/css/pages/header/style.css">
</head>
<body>
    <div class="toolbar">
        <div class="tool">
            <div class="title">File</div>
            <div class="options">
                <div class="option">New</div>
                <hr class="HorizontalRule">
                <div class="option">Import</div>
                <hr class="HorizontalRule">
                <div class="option">Export Geometry</div>
                <div class="option">Export Object</div>
                <div class="option">Export Scene</div>
                <hr class="HorizontalRule">
                <div class="option">Export DAE</div>
                <div class="option">Export DRC</div>
                <div class="option">Export GLB</div>
                <div class="option">Export GLTF</div>
                <div class="option">Export OBJ</div>
                <div class="option">Export PLY</div>
                <div class="option">Export PLY (Binary)</div>
                <div class="option">Export STL</div>
                <div class="option">Export STL (Binary)</div>
                <div class="option">Export USDZ</div>
                <hr class="HorizontalRule">
                <div class="option">Publish</div>
            </div>
        </div>
        <div class="tool">
            <div class="title">Edit</div>
        </div>
        <div class="tool">
            <div class="title">Add</div>
        </div>
        <div class="tool">
            <div class="title">View</div>
        </div>
        <div class="tool">
            <div class="title">Help</div>
        </div>
    </div>
</body>
