<%- include("../partials/header.ejs") %>
<%- include("../partials/sidebar.ejs") %>
<!DOCTYPE html>
<html>
    <head>
    <!--    Device Meta config-->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--    Styling css config-->
        <link rel="stylesheet" href="assets/css/bulma/css/bulma.css">
        <link rel="stylesheet" href="assets/css/pages/index/style.css">
        <link rel="stylesheet" href="assets/css/pages/custom/gizmo.css">
        <link rel="shortcut icon" href="#">
    <!--    Scripting JS config-->
        <script src = "assets/libs/jquery/jquery-3.6.0.min.js"></script>
        <script src = "libs/three/three.js"></script>
        <script src = "libs/h3x/gizmo.js"></script>
        <script src = "libs/three/controls/OrbitControls.js"></script>
        <script src = "assets/js/editor.js"></script>
    </head>
    <body>
        <div>
            <div id="editor-container">
            </div>
        </div>
    </body>
</html>