body {

}

.toolbar {
    background-color: #333;
    overflow: hidden;
}

.toolbar .toolElement {
    float: left;
    cursor: pointer;
    padding-right: 8px;
    z-index: 20;
}
.toolbar .toolElement .options {
    position: fixed;
    display: none;
    padding: 5px 0;
    background: #eee;
    width: 150px;
    max-height: calc(100% - 80px);
    overflow: auto;
}

.toolbar .toolElement .options .option{
    padding: 2px 10px;
    margin: 0 !important;
}
.toolbar .toolElement .title {
    display: inline-block;
    color: #888;
    margin: 0;
    padding: 8px;
    line-height: 16px;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 14px;
}

.dialog-hr {
    margin: 0.5rem 0;
}


